html {
  --black: #0e0a18;
  --purple: #a43acb;
  --blue: #4717f8;
  --gray: #e9dfe0;
  --carbon: #252525;
  --red: #ff3a3f;
  --neutral: #efefef;
  --sky: #caebf2;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--neutral);
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #080808;
  }
}
